<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.it.zzb.niceweibo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/nice80"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activity.WelcomeActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".activity.SendWeiboActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activity.WeiboDetailActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.GroupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.message.MessageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.WriteCommentActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activity.ReplyCommentActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".ui.profile.FriendsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.profile.FollowerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PictureActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.FavoriteActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.UserActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.RepostActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.profile.UserActivity2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BaseActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.UrlActivity" />
        <activity
            android:name=".activity.GalleryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AlbumActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.AccountActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.PrivateMsgActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.MsgActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>